/* Start of Navbar */

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;
    transition: ease-in-out 0.3s;
}

.navbar.sticky {
    background: var(--white);
    box-shadow: 0 0 20px rgb(48 63 100 / 20%);
}

.navbar.sticky .navbar-toggler span, .navbar.sticky .navbar-brand, .rwc-logo2 {
    color: var(--font-color-dark);
    padding-bottom: var(--size-10);
}

.navbar.sticky .nav-link a { color: var(--font-color-dark); }

.navbar-toggler {
    position: absolute;
    right: var(--size-20);
    top: var(--size-10);
    outline: none;
    background-color: transparent;
    border: 1px solid transparent;
}

.navbar-toggler span {
    color: var(--white);
    font-size: var(--size-20);
    cursor: pointer;
    pointer-events: none;
}

[aria-controls="navbarDropdown"] { display: none; }

.nb-logo, .nb-logo2 { height: 70px; }

.navbar-nav {
    display: flex;
    align-items: center;
    transition: ease-in-out 0.3s;
    margin-left: auto;
}

.navbar .container {
    display: flex;
    align-items: center;
}

.navbar-brand {
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 700;
    /*width: 100%;*/
    transition: ease-in-out 0.3s;
    color: var(--white);
    text-align: left;
}

.bg-header, .video-demo {
    background-color: var(--footer);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
    position: relative;
    z-index: 1;
    /*padding: 3.5rem 0;*/
}

.bg-header {
    /*background-image: url("../assets/images/FA98204A-ADB6-46EE-A58B-77C8A6C437F5.jpeg");*/
}

/*.video-demo { background-image: url("../assets/images/bg-demo.jpg");}*/

.bg-header::before {
    background-image: linear-gradient(
            30deg,
            rgba(21, 27, 38, 0.8) 0%,
            rgba(0, 0, 0, 0.2) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    content: "";
}

.nav-link {
    position: relative;
    left: 25px;
}

.nav-link a {
    display: flex;
    color: var(--white);
    font-size: 0.8125rem;
    font-weight: 600;
    font-family: "Hind", sans-serif;
    /*text-transform: uppercase;*/
    margin-right: var(--size-50);
    line-height: var(--size-20);
}

.hero-header {
    position: fixed;
    color: var(--white);
    text-align: center;
}

.rc-logo {
    display: flex;
    position: relative;
    width: 15%;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    font-size: var(--size-50);
    text-align: center;
    width: 500px;
}

.lower-centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    font-size: var(--size-25);
    text-align: center;
    color: var(--contrast);
    width: 400px;
    line-height: 200%;
}

/*.icons1 {*/
/*    position: relative;*/
/*    right: 6px;*/
/*    bottom: 2px;*/
/*    color: white;*/
/*    width: 18px;*/
/*    height: 20px;*/
/*}*/

/*.icons2 {*/
/*    position: relative;*/
/*    right: 6px;*/
/*    bottom: 2px;*/
/*    width: 14px;*/
/*}*/

/*.icons3 {*/
/*    position: relative;*/
/*    right: 6px;*/
/*    width: 17px;*/
/*}*/

/*.icons4 {*/
/*    position: relative;*/
/*    right: 6px;*/
/*    bottom: 1px;*/
/*    width: 17px;*/
/*}*/

div > .navbar-nav { top: 0; }

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    justify-content: initial;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
    margin-right: initial;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

ul.breadcrumb > .not-active > a { color: gray; }

/* End of Navbar */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Start of Cards Section */

.cards-section {
    background-color: var(--white);
}

.get-started {
    position: relative;
    top: 50px;
    background-color: #2f8d46;
    background-image: image("assets/img/wallpaper.jpg");
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*margin-top: 200px;*/
    font-size: var(--size-40);
    text-align: center;
    /*text-transform: uppercase;*/
    font-family: 'Steelfish Rg', 'helvetica neue',
    helvetica, arial, sans-serif;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 50px;
}

.cards-wrapper {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 30px;
}

.cards-grid {
    display: flex;
    flex-wrap: wrap;
    row-gap: 80px;
    padding-top: 60px;
}

.card {
    margin: 0 auto;
    /*padding: 15px 10px 0 10px;*/
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 10px;
    width: 40%;
}

.card-container {
    width: 100%;
    /*padding: 18px 20px 10px;*/
    margin-left: auto;
    margin-right: auto;
}

.dr\.reaves {
    position: relative;
    /*top: 25px;*/
    object-fit: none;
    /*width: 200px;*/
    height: 300px;
}

/* Add rounded corners to the top left and the top right corner of the image */
.card > img {
    border-radius: 10px;
}

.dr {
    position: absolute;
    padding-left: 20px;
    bottom: 550px;
    font-size: var(--size-25);
    width: 160px;
}

img[src*="IMG_6736"] {
    width: 50%;
    object-fit: none;
}

img[src*="Planes17"] {

}


.main-product-card {
    position: absolute;
    padding-left: 20px;
    bottom: 210px;
    font-size: var(--size-25);
    width: 160px;
}

.main-entry-form-card {
    position: absolute;
    padding-left: 20px;
    bottom: 170px;
    font-size: var(--size-25);
    width: 160px;
}

.fillable {
    position: absolute;
    padding-left: 20px;
    bottom: 70px;
    font-size: var(--size-18);
    /*width: 100%;*/
    font-weight: 600;
}




/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Start of Footer section */


.icons {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding-right: var(--size-10);
}

.copyright {
    display: flex;
    justify-content: center;
    margin-top: 6px; }

.developer {
    position: relative;
    right: 12px;
    text-decoration: none;
    color: #FF4500;
}

/*.copyright p { color: var(--white); }*/

img[src*="DOC"] {
    display: initial;
    position: relative;
    width: 4%;
    right: 4px;
    bottom: 1px;
}